@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
}

header {
  background-image: url("ausie_court.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
  max-width:none;
  color: white;
}



nav ul, footer ul {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #555;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family: "Roboto","Helvetica", "Arial", sans-serif;
    font-weight: normal;
}
p {
    font-family: "Roboto";
    font-size: 1.2em;
    line-height: 1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color: #e81c4f;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
}

ul.posts li {
    list-style: none;
}
