{% extends "index.html" %}
{% block body %}
<!DOCTYPE html> 
	<html>
	<head>
		<title>Team | Ben</title>
		<link rel="stylesheet" type="text/css" href="/css/team.css">
	</head>

	<body>
		<header id="header">
				 <h1>Ben's Team</h1>
		</header>
		 <div id= 'main' style = "text-align: center;">
		  <div style="display: inline-block; text-align: left; max-width: 60%;">
		<table style="width:100%">
		<col align="left">
		<col align="left">
		<col align="right">
  		<tr>
  			<th>Date</th>
    		<th>Serve</th> 
    		<th>Power</th>
    		<th>Return</th>
    		<th>Defense</th>
    		<th>Mind</th>
    		<th>Bench</th>
    		<th>Bench</th>
    		<th>Bench<th>
    	</tr> <tr><td>-</td><td>Novak Djokovic</td><td>Novak Djokovic</td><td>Dominic Thiem</td><td>Milos Raonic</td><td>Gael Monfils</td><td>Gael Monfils</td><td>Milos Raonic</td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td><td>
    	 <button type="button" name="bench" onclick="loadDoc()" id="bench1" value="lineup">add</button>
    	 </td><td>
    	 <button type="button" name="bench" onclick="loadDoc()" id="bench2" value="lineup">add</button>


    	 </td></tr>		
							</table>

							<footer>
    							<ul>
        							<li><a href="mailto:ben.brady1224@gmail.com">email</a></li>
        							<li><a href="https://github.com/bradyb">github.com/bradyb</a></li>
								</ul>
							</footer>
							</div>
							</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

		<script>
		function loadDoc() {
			
  			$.ajax({
  				type: "get",
   				url: "test.py",
   				data: {},
   				datatype:"script",
   				async: false,
   				success: function(response){
   					alert("success");
   				},
   				error: function(xhr,err){
   					alert("error")
   				}
		});
		}
		</script>
									
							</body>
							</html> 
{% endblock %}


<!-- <!DOCTYPE html>
<html>
<body>

<div id="demo">
<h1>The<!DOCTYPE html>
<html>
<body>

<div id="demo">
<h1>The XMLHttpRequest Object</h1>
<button type="button" onclick="loadDoc()">Change Content</button>
</div>

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "ajax_info.txt", true);
  xhttp.send();
}
</script>

</body>
</html> XMLHttpRequest Object</h1>
<button type="button" onclick="loadDoc()">Change Content</button>
</div>

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "ajax_info.txt", true);
  xhttp.send();
}
</script>

</body>
</html> -->



<!-- <!DOCTYPE html>
<html>
<body>

<div id="demo">
  <h2>Let AJAX change this text</h2>
  <button type="button" onclick="loadDoc()">Change Content</button>
</div>
<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "ajax_info.txt", true);
  xhttp.send();
}
</script>
<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "ajax_info.txt", true);
  xhttp.send();
}
</script>

</body>
</html>
 -->