<!DOCTYPE html> 
	<html>
	<head>
		<title>Historical Scoreboards</title>
		<link rel="stylesheet"  href="static/css/tennis.css">
	</head>

	<body>
		<header id="header">
				 <h1>Past Tournaments</h1>
		</header>
		 <div id= 'main' style = "text-align: center;">
		  <div style="display: inline-block; text-align: left; max-width: 60%;">
		<table id="scores">
  		<tr>
  			<th>Date</th>
    		<th>Serve</th> 
    		<th>Power</th>
    		<th>Return</th>
    		<th>Defense</th>
    		<th>Mind</th>
    		<th>Bench</th>
    		<th>Bench</th>
    		<th>Bench<th>
    	</tr> 
      <tr>

      <td><a href= "/" >Back to Home</a></td>

      {% for player in user.team %}
        {% if player.alive|int() == 0 %}
          <td><strike>{{ player.name }}</strike></td>
        {% endif %}
        {% if player.alive|int() == 1 %}
          <td>{{ player.name }}</td>
        {% endif %}
      {% endfor %}

      {% for player in user.bench %}

        {% if player.attribute|int() == 1 %}
          {% if player.alive|int() == 0 %}
          <td><strike>{{ player.name }}</strike> / 
                 Serve</td>
          {% endif %}
          {% if player.alive|int() == 1 %}
          <td>{{ player.name }} / 
                 Serve</td>
          {% endif %}
        {% endif %}

        {% if player.attribute|int() == 2 %}
          {% if player.alive|int() == 0 %}
          <td><strike>{{ player.name }}</strike> / 
                 Power</td>
          {% endif %}
          {% if player.alive|int() == 1 %}
          <td>{{ player.name }} / 
                 Power</td>
          {% endif %}
        {% endif %}

        {% if player.attribute|int() == 3 %}
          {% if player.alive|int() == 0 %}
          <td><strike>{{ player.name }}</strike> / 
                 Return</td>
          {% endif %}
          {% if player.alive|int() == 1 %}
          <td>{{ player.name }} / 
                 Return</td>
          {% endif %}
        {% endif %}

        {% if player.attribute|int() == 4 %}
          {% if player.alive|int() == 0 %}
          <td><strike>{{ player.name }}</strike> / 
                 Defense</td>
          {% endif %}
          {% if player.alive|int() == 1 %}
          <td>{{ player.name }} / 
                 Defense</td>
          {% endif %}
        {% endif %}

        {% if player.attribute|int() == 5 %}
          {% if player.alive|int() == 0 %}
          <td><strike>{{ player.name }}</strike> / 
                 Mind</td>
          {% endif %}
          {% if player.alive|int() == 1 %}
          <td>{{ player.name }} / 
                 Mind</td>
          {% endif %}
        {% endif %}
        
      {% endfor %}

      {% if user.bench|length < 3 %}

      <td>
       <form action={{ teamName + "/sub" }} method="post">
          <input type="text" name="subbed-player-name" value="Sub Name" />
          <input type="text" name="subbed-player-attr" value="Sub Attribute" />
          <button type="submit">Submit</button>
       </form>
      </td>

      {% endif %}



      </tr>

      {% for day in range(0,user.team[0].history|length)  %}
      <tr>
        
        <td> {{ user.team[0].history[day][0] }} </td>

        {% for player in user.team %}
          <td>{{ player.history[day][1] }}</td>
        {% endfor %}

        {% for player in user.bench %}
          <td>{{ player.history[day][1] }}</td>
        {% endfor %}

      </tr>
      {% endfor %}

      <tr>

      <td> </td>

      {% for player in user.team %}
        <td> </td>
      {% endfor %}

      
      {% for player in user.bench %}
        <td>
    	      <form action={{ teamName + "/bench" }}  method="post">
            <button type="submit" name="bench" value= "{{ player.name }}">Add</button>
            </form>
    	  </td>
      {% endfor %}
      

      </tr>	

	</table>

							<footer>
    							<ul>
        							<li><a href="mailto:ben.brady1224@gmail.com">email</a></li>
        							<li><a href="https://github.com/bradyb">github.com/bradyb</a></li>
								</ul>
							</footer>
							</div>
							</div>
									
							</body>
							</html>