<!DOCTYPE html> 
	<html>
	<head>
		<title>{{ tournament_display }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="../../static/css/tennis.css">
	</head>

	<body>
		<header id="header">
				 <h1>{{ tournament_display }}</h1>
		</header>
		<div style = "text-align: center;">
		<div style="display: inline-block; text-align: left; max-width: 60%;">
		<table>
  		<tr>
    		<th>Player</th>
   			<th>Serve</th> 
    		<th>Power</th>
    		<th>Return</th>
    		<th>Defense</th>
    		<th>Mind</th>
    		<th>Total</th>
  		</tr> 
  		
  		{% for person in users %}
  			<tr><td><a href= {{ tournament + '/' + person.name }} >{{ person.name }}</a></td>

  			{% for player in person.team %}
  				{% if player.alive|int() == 0 %}
          			<td><strike>{{ player.name }}</strike></td>
        		{% endif %}
        		{% if player.alive|int() == 1 %}
          			<td>{{ player.name }}</td>
        		{% endif %}
  			{% endfor %}

  			</tr><td>  </td>

  			{% for player in person.team %}
  				<td>{{ player.points }}</td>
  			{% endfor %}


  			<td>{{ person.total }}</td>

  			</tr>
  			
  			
  		{% endfor %}		
		</table>
    <table>
      <tr><th>History</th></tr>
      <tr><td><a href= "history/2017-aus-open" >2017 Australian Open</a></td></tr>
    </table>
    <form action="/">
      <button type="submit">Back to current tournament.</button>
    </form>
		<footer>
    		<ul>
        		<li><a href="mailto:ben.brady1224@gmail.com">email</a></li>
        		<li><a href="https://github.com/bradyb">github.com/bradyb</a></li>
			</ul>
		</footer>
		</div>
		</div>
	</body>
	</html> 

